extends ./layout/header.pug
block cnt
    div(class="container")
        h1 My Data
        ol
            li
                a(href="/game") Game
            li
                a(href="/music") Music
