* {
    margin: 0;
    padding: 0;
}

body {
    font-family: consolas;
    background-color: rgb(176, 185, 206);
    color: #fff;
}

.container {
    padding: 10px;
}

h1 {
    padding: 10px;
    text-transform: uppercase;
    text-align: center;
    border: 1px solid;
    width: 500px;
    margin: 0 auto 2em;
}

ol {
    margin: 20px 0 0 4em;
}

li {
    padding: 15px 0 0 0;
    margin-left: 4em;
}

a {
    text-decoration: none;
    color: #fff;
}

#add-game {
    border: 1px solid;
    padding: 10px;
}

form {
    margin: 20px 0 0 0;
    border: 1px solid;
    padding: 10px;
}

input[name="name"] {
    width: 100%;
    height: 35px;
    border: 1px solid white;
    text-align: center;
    outline-color: white;
    text-transform: uppercase;
}

button {
    display: none;
}

.list-game {
    margin-left: 0;
}

.list-game li {
    border: 1px solid;
    padding: 10px;
    list-style-position: inside;
    margin: 0 0 10px 0;
}

#black {
    border: 1px solid white;
    padding: 10px 0;
    margin: 40px auto 15px;
    display: block;
    width: 100px;
    text-align: center;
}

#view {
    float: right;
}

#form-login {
    display: flex;
    flex-direction: column;
}

#form-login label {
    align-self: center;
    padding: 10px 0;
}

#form-login input {
    height: 35px;
    outline-color: white;
    border: 1px solid white;
    text-align: center;
}



#form-login button {
   display: block;
   margin-top: 20px;
   width: 20%;
   height: 35px;
   color: rgb(66, 112, 221);
   border: 1px solid rgb(66, 112, 221);
   font-weight: bold;
   align-self: center;
}

#form-login p {
    align-self: center;
    padding: 10px 20px;
    margin-top: 20px;
}


#form-add input[name="avatar"]::before {
    content: "Add avatar";
    visibility: visible;
    border: 1px solid;
    width: 100px;
    height: 30px;
    display: block;
    text-align: center;
    line-height: 30px;
    border-radius: 5px;
}

#form-add input[name="avatar"] {
    visibility: hidden;
    margin: 10px 0 15px 0;
    height: calc(30px + 2px);
}
